.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 36px;
}

@media (max-width: 936px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-bottom: 26px;
  }
}
