.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 10px 0 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__description {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-top: 8px;
  }
}
